<h1>Edit Event!</h1>

<%= form_for @event do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>
	<div class="field">
		<%= f.label :date %>
		<%= f.date_field :date %>
	</div>
	<div class="field">
		<%= f.label :time %>
		<%= f.time_field :time %>
	</div>
	<div class="field">
		<%= f.label :venue %>
		<%= f.text_field :venue %>
	</div>
	<div class="field">
		<%= f.label :venue_address %>
		<%= f.text_field :venue_address %>
	</div>

	<div class="action">
		<%= f.submit "Save Changes!" %>
	</div>

<% end %>

<%= link_to "Back to Events", events_path %>