<h1>Events List</h1>

<table>
	<thead>
		<th>Name</th>
		<th>Location</th>
		<th>Date</th>
		<th>Time</th>
	</thead>

	<tbody>
		<% @events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= event.location %></td>
			<td><%= event.date %></td>
			<td><%= event.time %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Event', new_event_path %>