<h1><%= @event.name %></h1>
<%= link_to "Edit", edit_event_path(@event) %>

<p><%= @event.location %></p>
<p>Date: <%= @event.date %><br>
Time: <%= @event.time %></p>

<h3><%= @event.venue %></h3>
<p>address: <%= @event.venue_address %></p>

<%= link_to "Back to Events", events_path %>