<!DOCTYPE html>
<html>
<head>
  <title>GuestList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
        <div id="user_header">
			<% if current_user %>
				Welcome <%= current_user.email %>!
				<%= link_to "Log Out", logout_path %>
			<% else %>
				<li><%= link_to "Login", login_path %></li>
				<li><%= link_to "Register", signup_path %></li>
			<% end %>
		</div>
		<%= notice %>
		<%= alert %>

        <%= yield %>
    </div>
</body>
</html>